// bootstrap
$dark: #343a40; // Bootstrap dark

// custom
$grey-light:#b4b4b4;

$red-dark: #4b1e1e;
$red-darker: #412828;
$red-darkest: #372d2d;

$muted: #6c757d;

$dark50: #505050;
$dark45: #454545;
$dark40: #404040;
$dark35: #353535;
$dark30: #303030;
$dark25: #252525;
$dark20: #202020;
$dark15: #151515;
$dark10: #101010;
$dark05: #050505;
$dark00: #000000;

$redFF: #FF0000;
$redCC: #CC0000;
$redAA: #AA0000;
$red88: #880000;
$red77: #770000;
$red66: #660000;
$red55: #550000;
$red44: #440000;
$red33: #330000;

$greenFF: #00FF00;
$greenCC: #00CC00;
$greenAA: #00AA00;
$green88: #008800;
$green77: #007700;
$green66: #006600;
$green55: #005500;
$green44: #004400;
$green33: #003300;

$blueFF: #0000FF;
$blueCC: #0000CC;
$blueAA: #0000AA;
$blue88: #000088;
$blue77: #000077;
$blue66: #000066;
$blue55: #000055;
$blue44: #000044;
$blue33: #000033;

$yellowFF: #FFFF00;
$yellowCC: #CCCC00;
$yellowAA: #AAAA00;
$yellow88: #888800;
$yellow77: #777700;
$yellow66: #666600;
$yellow55: #555500;
$yellow44: #444400;
$yellow33: #333300;

$purpleFF: #FF00FF;
$purpleCC: #CC00CC;
$purpleAA: #CC00CC;
$purpleAA: #AA00AA;
$purple88: #880088;
$purple77: #770077;
$purple66: #660066;
$purple55: #550055;
$purple44: #440044;
$purple33: #330033;

$cyanFF: #00FFFF;
$cyanCC: #00CCCC;
$cyanAA: #00CCCC;
$cyanAA: #00AAAA;
$cyan88: #008888;
$cyan77: #007777;
$cyan66: #006666;
$cyan55: #005555;
$cyan44: #004444;
$cyan33: #003333;



$pink: #ed8989;
$pink-dark: #e34747;
$pink-light: #ff7687;

