{% extends 'root/base.html' %}
{% load static %}

{% block title %}Blomster{% endblock %}

{% block navbar %}
    
{% endblock %}

{% block head %}
    <style media="screen">
        
    </style>
{% endblock %}

{% block body %}

<div class="body-inner">

    <div class="row">
        
        <div class="col-md">
            <h1 class="h1">Blomster</h1>
            
        </div>
        
        <div class="col-md">
            
        </div>
        
    </div>
    
</div>
{% endblock body %}



