/* line 10, root/static/root/scss/custom_bootstrap.scss */
.cursor-pointer {
  cursor: pointer; }

/* line 13, root/static/root/scss/custom_bootstrap.scss */
.cursor-default {
  cursor: default; }

/* line 16, root/static/root/scss/custom_bootstrap.scss */
.cursor-n-resize {
  cursor: n-resize; }

/* line 22, root/static/root/scss/custom_bootstrap.scss */
.border-bottom-double {
  border-bottom: 6px double !important; }

/* line 25, root/static/root/scss/custom_bootstrap.scss */
.border-sm {
  border-width: 2px !important; }

/* line 28, root/static/root/scss/custom_bootstrap.scss */
.border-lg {
  border-width: 10px !important; }

/* line 31, root/static/root/scss/custom_bootstrap.scss */
.border-groove {
  border-style: groove !important; }

/* line 34, root/static/root/scss/custom_bootstrap.scss */
.border-pink {
  border-color: #ed8989 !important; }

/* line 37, root/static/root/scss/custom_bootstrap.scss */
.border-brown {
  border-color: #432 !important; }
  /* line 39, root/static/root/scss/custom_bootstrap.scss */
  .border-brown-light {
    border-color: #543 !important; }
  /* line 42, root/static/root/scss/custom_bootstrap.scss */
  .border-brown-dark {
    border-color: #321 !important; }
  /* line 45, root/static/root/scss/custom_bootstrap.scss */
  .border-brown-darker {
    border-color: #210 !important; }

/* line 50, root/static/root/scss/custom_bootstrap.scss */
.border-dark-60 {
  border-color: #606060 !important; }

/* line 53, root/static/root/scss/custom_bootstrap.scss */
.border-dark-50 {
  border-color: #505050 !important; }

/* line 56, root/static/root/scss/custom_bootstrap.scss */
.border-dark-40 {
  border-color: #404040 !important; }

/* line 59, root/static/root/scss/custom_bootstrap.scss */
.border-dark-30 {
  border-color: #303030 !important; }

/* line 62, root/static/root/scss/custom_bootstrap.scss */
.border-dark-20 {
  border-color: #202020 !important; }

/* line 65, root/static/root/scss/custom_bootstrap.scss */
.border-dark-10 {
  border-color: #101010 !important; }

/* line 68, root/static/root/scss/custom_bootstrap.scss */
.border-dark-00 {
  border-color: #000000 !important; }

/* line 75, root/static/root/scss/custom_bootstrap.scss */
.rounded-xl {
  border-radius: 1rem !important; }

/* line 78, root/static/root/scss/custom_bootstrap.scss */
.rounded-bottom-xl {
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important; }

/* line 85, root/static/root/scss/custom_bootstrap.scss */
.bg-none {
  background-color: rgba(0, 0, 0, 0) !important; }

/* line 88, root/static/root/scss/custom_bootstrap.scss */
.bg-pink {
  background-color: #ed8989 !important; }

/* line 92, root/static/root/scss/custom_bootstrap.scss */
.bg-brown {
  background-color: #432 !important; }
  /* line 94, root/static/root/scss/custom_bootstrap.scss */
  .bg-brown-light {
    background-color: #543 !important; }
  /* line 97, root/static/root/scss/custom_bootstrap.scss */
  .bg-brown-dark {
    background-color: #321 !important; }
  /* line 100, root/static/root/scss/custom_bootstrap.scss */
  .bg-brown-darker {
    background-color: #210 !important; }

/* line 104, root/static/root/scss/custom_bootstrap.scss */
.bg-blur {
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 109, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-blur {
  background-color: rgba(0, 0, 0, 0.9) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 114, root/static/root/scss/custom_bootstrap.scss */
.bg-danger-blur {
  background-color: rgba(255, 0, 0, 0.1) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 119, root/static/root/scss/custom_bootstrap.scss */
.bg-primary-blur {
  background-color: rgba(0, 0, 255, 0.1) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 124, root/static/root/scss/custom_bootstrap.scss */
.bg-success-blur {
  background-color: rgba(0, 255, 0, 0.1) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 129, root/static/root/scss/custom_bootstrap.scss */
.bg-info-blur {
  background-color: rgba(0, 255, 255, 0.1) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 134, root/static/root/scss/custom_bootstrap.scss */
.bg-warning-blur {
  background-color: rgba(255, 255, 0, 0.1) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 139, root/static/root/scss/custom_bootstrap.scss */
.bg-secondary-blur {
  background-color: rgba(150, 150, 150, 0.1) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 144, root/static/root/scss/custom_bootstrap.scss */
.bg-pink-blur {
  background-color: #ed8989 !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 149, root/static/root/scss/custom_bootstrap.scss */
.bg-light-blur {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important; }

/* line 154, root/static/root/scss/custom_bootstrap.scss */
.bg-dark {
  background-color: #343a40 !important; }

/* line 158, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-40 {
  background-color: #404040 !important; }

/* line 161, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-35 {
  background-color: #353535 !important; }

/* line 164, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-30 {
  background-color: #303030 !important; }

/* line 167, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-25 {
  background-color: #252525 !important; }

/* line 170, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-20 {
  background-color: #202020 !important; }

/* line 173, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-15 {
  background-color: #151515 !important; }

/* line 176, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-10 {
  background-color: #101010 !important; }

/* line 179, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-05 {
  background-color: #050505 !important; }

/* line 182, root/static/root/scss/custom_bootstrap.scss */
.bg-dark-00 {
  background-color: #000000 !important; }

/* line 189, root/static/root/scss/custom_bootstrap.scss */
.text-pink {
  color: #ed8989 !important; }

/* line 192, root/static/root/scss/custom_bootstrap.scss */
.text-shadow {
  text-shadow: 1px 1px #000000; }

/* line 195, root/static/root/scss/custom_bootstrap.scss */
.text-underline {
  text-decoration: underline; }

/* line 198, root/static/root/scss/custom_bootstrap.scss */
.text-grey {
  color: #b4b4b4 !important; }

/* line 201, root/static/root/scss/custom_bootstrap.scss */
.font-bold {
  font-weight: bold; }

/* line 207, root/static/root/scss/custom_bootstrap.scss */
.btn-pink {
  background-color: #ed8989 !important;
  color: #DDD !important; }
  /* line 210, root/static/root/scss/custom_bootstrap.scss */
  .btn-pink:hover {
    background-color: #ff7687 !important;
    color: black !important; }
  /* line 214, root/static/root/scss/custom_bootstrap.scss */
  .btn-pink:active {
    background-color: #e34747 !important; }
  /* line 217, root/static/root/scss/custom_bootstrap.scss */
  .btn-pink:focus {
    background-color: #e34747 !important; }
  /* line 220, root/static/root/scss/custom_bootstrap.scss */
  .btn-pink.active {
    background-color: #e34747 !important; }

/* line 225, root/static/root/scss/custom_bootstrap.scss */
.btn-brown {
  background-color: #432 !important;
  color: #DDD !important; }
  /* line 228, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown:hover {
    background-color: #543 !important; }
  /* line 232, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown:active {
    background-color: #321 !important; }
  /* line 235, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown:focus {
    background-color: #321 !important; }
  /* line 238, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown.active {
    background-color: #321 !important; }

/* line 243, root/static/root/scss/custom_bootstrap.scss */
.btn-brown-dark {
  background-color: #321 !important;
  color: #DDD !important; }
  /* line 246, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown-dark:hover {
    background-color: #432 !important; }
  /* line 249, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown-dark:active {
    background-color: #210 !important; }
  /* line 252, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown-dark:focus {
    background-color: #210 !important; }
  /* line 255, root/static/root/scss/custom_bootstrap.scss */
  .btn-brown-dark.active {
    background-color: #210 !important; }

/* line 261, root/static/root/scss/custom_bootstrap.scss */
.btn-dark-50 {
  color: white !important;
  border-color: #505050 !important;
  background-color: #505050 !important; }
  /* line 266, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-50:hover {
    background-color: #404040 !important; }
  /* line 269, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-50:focus, .btn-dark-50 .focus {
    background-color: #404040 !important;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5) !important; }

/* line 274, root/static/root/scss/custom_bootstrap.scss */
.btn-dark-40 {
  color: white !important;
  border-color: #404040 !important;
  background-color: #404040 !important; }
  /* line 279, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-40:hover {
    background-color: #303030 !important; }
  /* line 282, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-40:focus, .btn-dark-40 .focus {
    background-color: #303030 !important;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5) !important; }

/* line 288, root/static/root/scss/custom_bootstrap.scss */
.btn-dark-30 {
  color: white !important;
  border-color: #303030 !important;
  background-color: #303030 !important; }
  /* line 293, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-30:hover {
    background-color: #202020 !important; }
  /* line 296, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-30:focus, .btn-dark-30 .focus {
    background-color: #202020 !important;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5) !important; }

/* line 302, root/static/root/scss/custom_bootstrap.scss */
.btn-dark-20 {
  color: white !important;
  border-color: #202020 !important;
  background-color: #202020 !important; }
  /* line 307, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-20:hover {
    background-color: #101010 !important; }
  /* line 310, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-20:focus, .btn-dark-20 .focus {
    background-color: #101010 !important;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5) !important; }

/* line 316, root/static/root/scss/custom_bootstrap.scss */
.btn-dark-10 {
  color: white !important;
  border-color: #202020 !important;
  background-color: #101010 !important; }
  /* line 321, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-10:hover {
    background-color: #050505 !important; }
  /* line 324, root/static/root/scss/custom_bootstrap.scss */
  .btn-dark-10:focus, .btn-dark-10 .focus {
    background-color: #050505 !important;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5) !important; }

/* line 334, root/static/root/scss/custom_bootstrap.scss */
.list-style-none {
  list-style-type: none !important; }

/* line 340, root/static/root/scss/custom_bootstrap.scss */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 50px !important;
  z-index: 1020; }

/* line 347, root/static/root/scss/custom_bootstrap.scss */
.zoom {
  transition: transform .09s; }
  /* line 350, root/static/root/scss/custom_bootstrap.scss */
  .zoom:hover {
    transform: scale(1.01);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }
  /* line 353, root/static/root/scss/custom_bootstrap.scss */
  .zoom-shine:hover {
    filter: brightness(1.3); }

/* line 359, root/static/root/scss/custom_bootstrap.scss */
.hover-red-AA:hover {
  background-color: #AA0000; }

/* line 362, root/static/root/scss/custom_bootstrap.scss */
.hover-red-88:hover {
  background-color: #880000; }

/* line 365, root/static/root/scss/custom_bootstrap.scss */
.hover-red-77:hover {
  background-color: #770000; }

/* line 368, root/static/root/scss/custom_bootstrap.scss */
.hover-red-66:hover {
  background-color: #660000; }

/* line 371, root/static/root/scss/custom_bootstrap.scss */
.hover-red-55:hover {
  background-color: #550000; }

/* line 374, root/static/root/scss/custom_bootstrap.scss */
.hover-red-33:hover {
  background-color: #330000; }

/* line 378, root/static/root/scss/custom_bootstrap.scss */
.hover-green-AA:hover {
  background-color: #00AA00; }

/* line 381, root/static/root/scss/custom_bootstrap.scss */
.hover-green-88:hover {
  background-color: #008800; }

/* line 384, root/static/root/scss/custom_bootstrap.scss */
.hover-green-77:hover {
  background-color: #007700; }

/* line 387, root/static/root/scss/custom_bootstrap.scss */
.hover-green-66:hover {
  background-color: #006600; }

/* line 390, root/static/root/scss/custom_bootstrap.scss */
.hover-green-55:hover {
  background-color: #005500; }

/* line 393, root/static/root/scss/custom_bootstrap.scss */
.hover-green-33:hover {
  background-color: #003300; }

/* line 397, root/static/root/scss/custom_bootstrap.scss */
.hover-blue-AA:hover {
  background-color: #0000AA; }

/* line 400, root/static/root/scss/custom_bootstrap.scss */
.hover-blue-CC:hover {
  background-color: #0000CC; }

/* line 403, root/static/root/scss/custom_bootstrap.scss */
.hover-blue-88:hover {
  background-color: #000088; }

/* line 406, root/static/root/scss/custom_bootstrap.scss */
.hover-blue-77:hover {
  background-color: #000077; }

/* line 409, root/static/root/scss/custom_bootstrap.scss */
.hover-blue-66:hover {
  background-color: #000066; }

/* line 412, root/static/root/scss/custom_bootstrap.scss */
.hover-blue-55:hover {
  background-color: #000055; }

/* line 415, root/static/root/scss/custom_bootstrap.scss */
.hover-blue-33:hover {
  background-color: #000033; }

/* line 424, root/static/root/scss/custom_bootstrap.scss */
.row, [class^="col"] {
  margin: 0;
  padding: 0; }

/* line 430, root/static/root/scss/custom_bootstrap.scss */
.display-5 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.2; }

/* line 435, root/static/root/scss/custom_bootstrap.scss */
.display-6 {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1; }

/* line 441, root/static/root/scss/custom_bootstrap.scss */
.top-right {
  position: absolute;
  top: 0px;
  right: 0px; }

/* line 446, root/static/root/scss/custom_bootstrap.scss */
.rounded-top-left {
  border-top-left-radius: 6px; }

/* line 449, root/static/root/scss/custom_bootstrap.scss */
.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px; }

/* line 454, root/static/root/scss/custom_bootstrap.scss */
.top {
  position: absolute;
  top: 0px; }

/* line 458, root/static/root/scss/custom_bootstrap.scss */
.bottom {
  position: absolute;
  bottom: 0px; }

/* line 462, root/static/root/scss/custom_bootstrap.scss */
.bottom-half-under {
  position: absolute;
  bottom: -16px; }

/* line 467, root/static/root/scss/custom_bootstrap.scss */
.reverse-image-fluid {
  max-height: 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  /* line 472, root/static/root/scss/custom_bootstrap.scss */
  .grid-item-4 {
    width: 50%; } }

@media (min-width: 992px) {
  /* line 472, root/static/root/scss/custom_bootstrap.scss */
  .grid-item-4 {
    width: 33%; } }

@media (min-width: 1200px) {
  /* line 472, root/static/root/scss/custom_bootstrap.scss */
  .grid-item-4 {
    width: 25%; } }

@media (max-width: 768px) {
  /* line 472, root/static/root/scss/custom_bootstrap.scss */
  .grid-item-4 {
    width: 100%; } }

@media (min-width: 992px) {
  /* line 487, root/static/root/scss/custom_bootstrap.scss */
  .grid-item-2 {
    width: 50%; } }

@media (max-width: 992px) {
  /* line 487, root/static/root/scss/custom_bootstrap.scss */
  .grid-item-2 {
    width: 100%; } }

/* line 17, root/static/root/scss/base.scss */
html {
  /* Document renders as 100% */
  box-sizing: border-box;
  /* height: 50vh !important;  */
  overflow-x: hidden;
  height: 100%; }

/* line 25, root/static/root/scss/base.scss */
body {
  background-size: 100% auto;
  background-position: top left;
  background-repeat: repeat-y;
  background-color: #432;
  /* Needed for natural element flow */
  position: relative;
  height: 100%;
  /* Because of navbar (fixed) */
  color: #CCC; }

/* line 41, root/static/root/scss/base.scss */
.icon-25 {
  width: 25px;
  height: 25px; }

/* line 45, root/static/root/scss/base.scss */
.icon-50 {
  width: 50px;
  height: 50px; }

/* line 49, root/static/root/scss/base.scss */
.icon-75 {
  width: 75px;
  height: 75px; }

/* line 53, root/static/root/scss/base.scss */
.icon-100 {
  width: 100px;
  height: 100px; }

/* line 59, root/static/root/scss/base.scss */
[required] {
  /* background-color: rgba(255, 220, 220, 1); */
  /* background-color: rgba(200, 240, 255, 1); */ }

/* line 64, root/static/root/scss/base.scss */
span {
  display: inline; }

/* line 76, root/static/root/scss/base.scss */
.required:after {
  content: " *"; }

/* Scrollbar */
/* line 81, root/static/root/scss/base.scss */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em; }
  /* line 85, root/static/root/scss/base.scss */
  ::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 10px; }
  /* line 90, root/static/root/scss/base.scss */
  ::-webkit-scrollbar-track-piece {
    background-color: #050505; }

/* line 95, root/static/root/scss/base.scss */
a {
  color: blue; }
  /* line 98, root/static/root/scss/base.scss */
  a:hover {
    color: cyan;
    text-decoration: none; }

/* override styles when printing */
@media print {
  /* line 106, root/static/root/scss/base.scss */
  .no-print {
    display: none; }
  /* line 110, root/static/root/scss/base.scss */
  a {
    color: black;
    text-decoration: none !important; }
  /* line 115, root/static/root/scss/base.scss */
  .print-style {
    color: black; } }

/* line 120, root/static/root/scss/base.scss */
#breadcrumb {
  background-color: rgba(25, 25, 35, 0.8); }

/* line 124, root/static/root/scss/base.scss */
#body-outer {
  max-width: 90vw; }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* line 130, root/static/root/scss/base.scss */
  #body-outer {
    max-width: 100vw; } }

/* line 136, root/static/root/scss/base.scss */
.nav-tabs-underline .nav-item {
  border-right: #000000 1px solid; }

/* line 139, root/static/root/scss/base.scss */
.nav-tabs-underline .nav-link {
  color: #6c757d !important; }
  /* line 141, root/static/root/scss/base.scss */
  .nav-tabs-underline .nav-link:focus, .nav-tabs-underline .nav-link:hover {
    color: #ff7687 !important;
    margin-bottom: -2px;
    border-bottom: #ff7687 2px solid !important; }
  /* line 146, root/static/root/scss/base.scss */
  .nav-tabs-underline .nav-link.active {
    color: #ed8989 !important;
    margin-bottom: -2px;
    border-bottom: #ed8989 2px solid !important; }

/* line 153, root/static/root/scss/base.scss */
.btn-underline-pink {
  color: #b4b4b4 !important;
  border-bottom: 1px solid #b4b4b4 !important; }
  /* line 156, root/static/root/scss/base.scss */
  .btn-underline-pink:hover {
    border-color: #ff7687 !important;
    color: #ff7687 !important; }
  /* line 160, root/static/root/scss/base.scss */
  .btn-underline-pink:active, .btn-underline-pink.active, .btn-underline-pink:focus {
    border-color: #ed8989 !important;
    color: #ed8989 !important; }

/* line 167, root/static/root/scss/base.scss */
.select2-results {
  background-color: white !important;
  color: black; }

/* line 171, root/static/root/scss/base.scss */
.select2-selection__choice {
  color: #202020 !important; }

/* line 175, root/static/root/scss/base.scss */
.masonry-grid {
  /* Masonry container */
  column-count: 4;
  column-gap: 0.75em; }

/* line 180, root/static/root/scss/base.scss */
.masonry-grid-2 {
  /* Masonry container */
  column-count: 2;
  column-gap: 0.75em; }

/* line 184, root/static/root/scss/base.scss */
.masonry-grid-item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 0.75em;
  width: 100%; }

/* line 190, root/static/root/scss/base.scss */
.cover-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@media (max-width: 991.98px) {
  /* line 196, root/static/root/scss/base.scss */
  .event-calendar-sm {
    visibility: visible; } }

@media (min-width: 991.98px) {
  /* line 196, root/static/root/scss/base.scss */
  .event-calendar-sm {
    visibility: hidden;
    height: 0;
    width: 0; } }

@media (max-width: 991.98px) {
  /* line 206, root/static/root/scss/base.scss */
  .event-calendar-lg {
    visibility: hidden;
    height: 0;
    width: 0; } }

@media (min-width: 991.98px) {
  /* line 206, root/static/root/scss/base.scss */
  .event-calendar-lg {
    visibility: visible; } }
